<div class="col-xs-12">
  <li class="comment">
    <article class="comment-body">
      <div class="comment-image">
        <img src="<%= image_path 'comment_01.png' %>" alt="">
      </div><!-- /.comment-image -->
      <div class="comment-content">
        <div class="comment-author">
          <a href="#" title=""><%= message.user.full_name %></a>
        </div>
        <p>
          <%= message.content %>
        </p>
        <div class="comment-metadata">
          <%= message.created_at.strftime("%A, %b %d") %>
        </div>
      </div><!-- /.comment-content -->
    </article><!-- /.comment-body -->
  </li><!-- /.comment -->
</div>
