#query-form .form-control {
  position: relative;
  display: block;
  width: 100% !important;
  line-height: 24px;
  padding: 8px;
  color: #2c3e50;
  border: 1px solid #4ca1af;
  height: 48px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0px;
}

#character_inputs {
  display: flex;
  align-items: center;
  width: 100%;
  .input {
    width: 100%;
  }
}

#more-filters {
  margin-bottom: 19px;
}

.inline-form {
  display: flex;
}

.booking-form {
  background-color: rgba(245,245,245,1);
  padding: 0px 10px;
}

.no-margin-top {
  margin-top: 0px;
}

.info-box {
  padding: 20px 0px;
  width: 100%;
}

.info-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-form {
  padding: 20px 10px;
}

.price-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

