#query-form .form-control {
  position: relative;
  display: block;
  width: 100% !important;
  line-height: 24px;
  padding: 8px;
  color: #2c3e50;
  border: 1px solid #4ca1af;
  height: 48px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0px;
}

#character_inputs {
  display: flex;
  align-items: center;
  width: 100%;
}

#more-filters {
  margin-bottom: -10px;
}
