<% if user_signed_in? && favorited = current_user.favorited?(space) %>
  <%= link_to favorite_path(favorited), method: :delete do %>
    <p>
      Unfavorite
      <i class="far fa-heart"></i>
    </p>
  <% end %>
<% else %>
  <%= link_to space_favorites_path(space), method: :post do %>
    <p>
      Favorite
      <i class="fas fa-heart"></i>
    </p>
  <% end %>
<% end %>
