<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<ul id="space-container">
        <%= render partial: 'spaces/space', collection: @spaces, as: :space %>
			</ul>
		</div>
	</div>
</div>
