<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Favorites
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<ul id="space-container">
        <% if @spaces.empty? %>
          <section class="flat-row flat-error-page">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrap-error center">
                    <div class="info-error">
                      <div class="error-title">
                        No favorites yet!
                      </div>
                    </div>
                    <div class="button-header">
                      <%= link_to "Check out our spaces", spaces_path %>
                    </div>
                    <br>
                  </div><!-- /.wrap-error -->
                </div><!-- /.col-md-12 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          </section><!-- /.flat-error-page -->
        <% else %>
          <%= render partial: 'spaces/space', collection: @spaces, as: :space %>
        <% end %>
			</ul>
		</div>
	</div>
</div>
