<section class="flat-map-zoom-in">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="flat-filter">
          <div class="wrap-box-search style2">
            <%= render 'spaces/search_form' %>
          </div>
          <div class="clearfix"></div>

          <div class="filter">
            <div class="clearfix"></div>
          </div><!-- /.filter -->
          <div class="filter-result">
            <div class="result">
              <span id='result-count'> <%= @spaces.count %> </span> results found
            </div>
            <ul class="arrange">
              <li class="active">
              </li>
              <li>
              </li>
            </ul>
          </div><!-- /.filter-result -->
        </div><!-- /.col-xs-12 -->
        <div class="col-md-6 col-xs-12">
          <div class="wrap-imagebox style1 scrollbox" id="space-container">
            <%= render partial: 'spaces/space', collection: @spaces, as: :space %>
          </div><!-- /.wrap-imagebox -->
        </div><!-- /.flat-filter -->
      <div class="col-md-6 col-xs-12">
        <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>">
        </div>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-map-zoom-in -->




