@media only screen and (min-width: 991px) {
  #mainnav-mobi {
    display: none;
  }

  #mainnav {
    display: true;
  }

  #button-add-navbar {
    display: true;
  }

  #responsive-menu-button {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  #mainnav-mobi {
    display: true;
  }

  #button-add-navbar {
    display: none;
  }

  #responsive-menu-button {
    display: block;
  }

  #mainnav {
    display: none;
  }
}
