<section class="flat-row flat-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="subscribe-text"><%= t('subscribe_and_be_notified') %>
        </div>
      </div><!-- /.col-sm-7 -->
      <div class="col-sm-5">
        <div class="subscribe-form">
          <form action="#" method="get" accept-charset="utf-8">
            <div class="subscribe-content">
              <div class="input-field">
                <input type="email" name="yourEmail" placeholder=<%= t('your_email') %> />
              </div>
              <button><span class="arrow_right"></span></button>
            </div>
          </form>
        </div><!-- /.subscribe-form -->
      </div><!-- /.col-sm-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-subscibe -->
