<section class="flat-row flat-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="subscribe-text">
          Subscribe and be notified about new locations
        </div>
      </div><!-- /.col-sm-7 -->
      <div class="col-sm-5">
        <div class="subscribe-form">
          <form action="#" method="get" accept-charset="utf-8">
            <div class="subscribe-content">
              <div class="input-field">
                <input type="email" name="yourEmail" placeholder="Your Email" />
              </div>
              <button><i class="fa fa-arrow-right"></i></button>
            </div>
          </form>
        </div><!-- /.subscribe-form -->
      </div><!-- /.col-sm-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-subscibe -->


