

    <section class="page-title parallax parallax1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-title-heading">
              Add Listing
            </div>
            <ul class="breadcrumbs">
              <li>
                <a href="index.html" title="">Home</a>
                 <span class="arrow_right"></span>
              </li>
              <li>
                Pages
              </li>
            </ul>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="overlay"></div>
    </section><!-- /.page-title -->

    <section class="flat-listing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form action="#" class="form-listing" method="get" accept-charset="utf-8">
              <div class="inner-box">
                <p>If you don’t have an account you can create one below by entering your email address/username.<br />
                Your account details will be confirmed via email.</p>
                <div class="btn-more">
                  <a href="#" title="">Sign in</a>
                </div>
                <div class="clearfix"></div>
              </div><!-- /.inner-box -->
              <div class="inner-box form">
                <div class="wrap-listing your-email">
                  <label>Your email</label>
                  <input type="email" name="email" placeholder="you@yourdomain.com">
                </div><!-- /.wrap-listing -->
                <div class="wrap-listing your-name">
                  <label>Listing Name</label>
                  <input type="email" name="yourname" placeholder="Your listing name">
                </div><!-- /.wrap-listing -->
                <div class="clearfix"></div>
                <div class="wrap-listing location">
                  <label>Location (optional)</label>
                  <span class="ti-target"></span>
                  <input type="text" name="yourname" placeholder="e.g.”New York”">
                </div><!-- /.wrap-listing -->
                <div class="pdmap style2" id="flat-map">
                        <div class="flat-maps" data-address="Thành phố New York, Tiểu bang New York" data-name="Themesflat Map"></div>
                        <div class="gm-map">
                            <div class="map-3"></div>
                        </div>
                    </div><!-- /#flat-map -->
                    <div class="wrap-listing phone">
                      <label>Phone</label>
                      <input type="text" name="phonenumber" placeholder="111-222-3333">
                    </div><!-- /.wrap-listing -->
                    <div class="wrap-listing website">
                      <label>Website</label>
                      <input type="text" name="website" placeholder="http://">
                    </div><!-- /.wrap-listing -->
                    <div class="clearfix"></div>
              </div><!-- /.inner-box -->
              <div class="inner-box form style1">
                <div class="one-half">
                  <div class="wrap-listing category">
                    <label>Category</label>
                    <span class="ti-angle-down"></span>
                    <select name="category">
                      <option value="">Choose Your Bussines Category</option>
                      <option value="">Choose Your Bussines Category</option>
                      <option value="">Choose Your Bussines Category</option>
                    </select>
                  </div><!-- /.wrap-listing -->
                  <div class="wrap-listing price">
                    <label>Price Range</label>
                    <span class="ti-angle-down"></span>
                    <select name="category">
                      <option value="">Pricey</option>
                      <option value="">Pricey</option>
                      <option value="">Pricey</option>
                    </select>
                  </div><!-- /.wrap-listing -->
                  <div class="wrap-listing price-from">
                    <label>Price From</label>
                    <input type="text" name="price" placeholder="Price From">
                  </div><!-- /.wrap-listing -->
                  <div class="wrap-listing price-to">
                    <label>Price To</label>
                    <input type="text" name="price" placeholder="Price To">
                  </div><!-- /.wrap-listing -->
                </div>
                <div class="one-half">
                  <label>Add Business Hours</label>
                  <div class="wrap-listing business">
                    <div class="day">
                      <span class="ti-angle-down"></span>
                      <select name="day">
                        <option value="">Saturday</option>
                        <option value="">Saturday</option>
                        <option value="">Saturday</option>
                      </select>
                    </div>
                    <div class="hour-from">
                      <span class="ti-angle-down"></span>
                      <select name="hour-from">
                        <option value="">09:00</option>
                        <option value="">09:00</option>
                        <option value="">09:00</option>
                      </select>
                    </div>
                    <div class="hour-to">
                      <span class="ti-angle-down"></span>
                      <select name="hour-to">
                        <option value="">22:00</option>
                        <option value="">22:00</option>
                        <option value="">22:00</option>
                      </select>
                    </div>
                    <div class="btn-business">
                      <button class="ti-plus" type="button"></button>
                    </div>
                    <span class="clearfix"></span>
                  </div><!-- /.wrap-listing -->
                  <div class="info-business">
                    <div class="item">
                      <span class="date">Monday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Tuesday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Wednesday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Thursday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Friday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Saturday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                    <div class="item">
                      <span class="date">Sunday</span>
                      <span class="hour-from">09:00</span>
                      <span class="line">-</span>
                      <span class="hour-to">22:00</span>
                      <span class="btn-close ti-close"></span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div><!-- /.inner-box -->
              <div class="inner-box form style2">
                <div class="one-half">
                  <label>Description</label>
                  <textarea placeholder="Detail description about your listing"></textarea>
                  <input type="text" name="urlFacebook" placeholder="Your Facebook URL">
                  <input type="text" name="urlTwitter" placeholder="Your Twitter URL">
                  <input type="text" name="urlYoutube" placeholder="Your Youtube URL">
                </div><!-- /.one-half -->
                <div class="one-half">
                  <label>Tags or keywords (Comma seprated)</label>
                  <textarea placeholder="Enter tag or keywords coma seprated ..."></textarea>
                  <input type="text" name="urlInstagram" placeholder="Your Instagram URL">
                  <input type="text" name="urlGooglePlus" placeholder="Your Google Plus URL">
                  <input type="text" name="urlLinkedin" placeholder="Your linkedin URL">
                </div><!-- /.one-half -->
                <div class="clearfix"></div>
              </div><!-- /.inner-box -->
              <div class="inner-box style3">
                <div class="one-half">
                  <label>Your Business Images</label>
                  <div class="browse">
                    <p>Drag & Drop files here</p>
                    <span>or</span>
                    <div class="upload">
                      <span>Browse files</span>
                      <input type="file" name="upload-file">
                    </div>
                  </div>
                </div><!-- /.one-half -->
                <div class="one-half">
                  <label>Your Business video(Optional)</label>
                  <input type="text" value="" placeholder="ex: https://www.youtube.com/watch?v=XZiki0D_81U">
                  <button class="submit-form-listing" type="submit">Save & Preview</button>
                </div><!-- /.one-half -->
                <div class="clearfix"></div>
              </div><!-- /.inner-box -->
            </form><!-- /.form-listing -->
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.flat-listing -->


